<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>darlin react</title>
  <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
  <% } %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn %>/ajax/libs/emojione/2.2.7/assets/css/emojione.min.css">
  <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
		});
	</script>
</head>
<body>
  <div class="h100" id="app"></div>
  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        console.log('service worker install success')
      }).catch(function (err) {
        console.error('servcie worker install error')
      })
    }
	</script>
  <script src="<%= htmlWebpackPlugin.options.cdn %>/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.cdn %>/ajax/libs/crypto-js/3.1.9-1/x64-core.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.cdn %>/ajax/libs/crypto-js/3.1.9-1/sha512.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.cdn %>/ajax/libs/crypto-js/3.1.9-1/md5.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.cdn %>/ajax/libs/device.js/0.2.7/device.min.js"></script>
</body>
</html>
